html, body {
	margin: 0;
	padding: 0;
}

/* |---------------------------| */
/* |     Custom Properties     | */
/* |---------------------------| */

$Roboto : 'family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';
@import url('https://fonts.googleapis.com/css2?' + $Roboto);

:root {
	--active-icon-color: rgba(229, 229, 229, .8);
	--search-input-width: 31.5rem;
	--search-box-width: 33.5rem;
	--search-container-margin: 0 0 0 4.5rem;
	--navbar-container-width: calc(14.4rem + 8px);
	--home-content-width-small: calc(100vw - 16rem );
	--home-content-width-big: calc(100vw - 5.75rem );
	--home-thumbnail-img-width: 22.45rem;
	--home-thumbnail-img-width--small-menu: calc(calc(100vw - 5.9rem - 4.55rem ) / 4 - 4.85px);;
	@media screen and (max-width: 1790px) {--home-thumbnail-img-width: calc(calc(100vw - 5.9rem - var(--navbar-container-width)) / 4 - 4.5px);}
	@media screen and (max-width: 1330px) {--home-thumbnail-img-width: calc(calc(100vw - 5.9rem - 4.55rem ) / 4 - 4.85px);}
	@media screen and (max-width: 1143px) {--home-thumbnail-img-width: calc(calc(100vw - 5.9rem - 4.55rem ) / 3 - 4.85px);}
	@media screen and (max-width: 887px) {--home-thumbnail-img-width: 20rem;}
	@media screen and (max-width: 720px) {--home-thumbnail-img-width: calc(calc(100vw - 5.9rem) / 2 - 4.85px);}
	@media screen and (max-width: 511px) {--home-thumbnail-img-width: calc(100vw - 11.7rem);}
	@media screen and (max-width: 1170px) {
		--search-input-width: calc(100vw -  41.6rem);
		--search-box-width: calc(100vw - 39.6rem);
		--search-container-margin: 0 0 0 4.5rem;
	}
	@media screen and (max-width: 875px) {
		--search-input-width: calc(100vw -  41.1rem);
		--search-box-width: calc(100vw - 39.1rem);
		--search-container-margin: 0 0 0 4.1rem;
	}
	@media screen and (max-width: 690px) {
		--search-input-width: calc(100vw - 39.6rem)
	}
	@media screen and(max-width: 656px) {
		--search-input-width: calc(100vw - 16.45rem);
		--search-box-width: calc(100vw - 14.45rem);
		--search-container-margin: 0;
	}
	--video-width: 79.3rem;
}
/* |---------------------------| */
/* |      Utility Classes      | */
/* |---------------------------| */

.flex {display: flex;}
.grid {display: grid;}
.display-none {display: none;}

/* |---------------------------| */
/* |        Components         | */
/* |---------------------------| */

// Default height values for icons
.header-icon { height: 1.5rem; cursor: pointer;}
.navbar-icon { height: 1.5rem; }

/* |---------------------------| */
/* |          Header           | */
/* |---------------------------| */

.Header-wrapper {
	height: 3.5rem;
	justify-content: space-between;
}

.first-header-container {}
.menu-icon, .logo { margin-left: 1.5rem;}
.menu-icon {margin-top: 1rem;}
.logo {height: 1.25rem; margin-top: 1.1rem;}

.second-header-container { margin: var(--search-container-margin); }
.search-form { margin-top: .5rem;}
.search-box {
	height: 2.4rem;
	width: var(--search-box-width);
	border: 1px #ccc solid;
	border-right: none;
	box-shadow: inset 0 1px 2px #eee;
	border-radius: 2px;
}
.search-input {
	height: auto;
	width: var(--search-input-width);
	margin: 0.05rem 0 0.1rem;
	border: none;
	outline: none;
	font-family: "Roboto";
	font-size: 1rem;
	text-indent: .28rem;
}
.search-box:focus-within {
	width: calc(var(--search-box-width) + 2.3rem);
	margin-left: -2.3rem;
	border: .8px #065fd4 solid;
	box-shadow: inset 1px 1px 1px #ccc, inset -1px -1px #ccc;
	.search-input {text-indent: .28rem; margin-left: 1%;}
	.input-search-icon {
		display: block;
		height: 1.3rem;
		margin-top: .55rem;
		margin-left: .7rem;
	}
}
//it's for search input
.none-empty-690 { @media screen and (max-width: 690px) and (min-width: 657px){ width: 1px; } } //making search input's width so small, so it can't seen
.search-button {
	height: 2.5rem;
	width: 4rem;
	border: 1px #ccc solid;
	background-color: #f8f8f8;
	.header-icon {margin-top: .2rem;}
}
.clear-search-icon {
	position: absolute;
	height: 1.23rem;
	margin-top: 0.55rem;
	cursor: pointer;
}
.clear-search-icon:active {
	padding: 0.6rem;
	background-color: var(--active-icon-color);
	border-radius: 50px;
	margin-top: 0;
	margin-left: -0.6rem;
}
.mic-icon {
	margin-top: 0.5rem;
	margin-left: 0.5rem;
	background-color: #f9f9f9;
	padding: 0.5rem;
	border-radius: 50px;
	cursor: pointer;
}

.third-header-container { margin-top: 1rem; }
.camera-icon, .apps-icon {margin-right: 1.55rem;}
.notifications {margin-right: 1.75rem;}
.avatar--header {
	height: 32px;
	margin-top: -0.25rem;
	margin-right: 2.85rem;
	border: 1px solid #ccc;
	border-radius: 50px;
}
@media screen and (max-width: 656px) {
	.search-box { display: none; }
	.search-button { display:none; }

	.menu-icon { margin-left: 1rem}
	.logo {margin-left: 1.75rem;}

	.second-header-container {width: calc(100vw - 24.2rem); gap: 1.2rem; justify-content: flex-end}
	.search-button-656 {
		display: block;
		margin-top: 1rem;
		cursor: pointer;
	}
	.search-button-656:active {
		background-color: var(--active-icon-color);
		padding: 0.5rem;
		margin: 0.5rem -0.5rem 0 0;
		border-radius: 50px;
	}
	.mic-icon {
		padding: 0;
		background-color: transparent;
		margin-top: 1rem;
		margin-left: 0;
	}

	.camera-icon, .apps-icon {margin-right: 1rem;}
	.notifications {margin-right: 1.2rem;}
	.avatar--header {margin-right: 2.4rem;}
	
	.search-open--small-screen {
		.first-header-container {display: none;}
		.second-header-container {width: auto; justify-content: center; gap: 0;}
		.third-header-container {display: none;}
		.search-button-656 {display: none;}

		.header-arrow-icon {
			cursor: pointer;
			display: block;
			margin-top: 0.5rem;
			margin-left: 1rem;
		}
		.header-arrow-icon:active {
			background-color: var(--active-icon-color);
			padding: 0.5rem;
			border-radius: 50px;
			margin-top: 0;
			margin-left: 0.5rem;
		}
		.search-box {
			display: flex;
			margin-left: 3.4rem; //1rem
		}
		.search-box:focus-within  {
			margin-left: 1.3rem;
			.search-input {
			}
		}
		.search-button {display: block;}
		.mic-icon {margin: 0; margin-top: 1rem; margin-left: 1rem;}
	}
}

/* |                           | */
/* |      Drop Down Menus      | */
/* |                           | */

.drop-down {
	position: absolute;
	background-color: white;
	font-family: "Roboto";
	font-size: 0.87rem;
	font-weight: 400;
	border: 1px #e5e5e5 solid;
	border-top: none;
	z-index: 3;
}

.create-drop-down {
	width: 11.8rem;
	height: 6.2rem;
	gap: 0.1rem;
	margin-top: 0.05rem; //1.8rem
	right: 2.85rem; //2.85rem 2.42vw
	@media screen and (max-width: 656px) { right: 2.42vw }
	@media screen and (max-height: 145px) {	top: 0.5rem; right: 0.5rem;}
	@media screen and (max-height: 145px) and (max-width: 656px) { right: 12.75rem;}
	.header-icon {margin-left: 1rem; margin-top: 0.2rem; width: 2.5rem}
	span {margin-top: 0.2rem;}
}
.create-drop-down div {height: 2.5rem;}
.create-drop-down div div { align-items: center; }
.create-drop-down div div:first-child { margin-top: 0.6rem; }
.create-drop-down div div:hover { background-color: #e1e1e1;}

.apps-drop-down {
	width: 13.55rem; //15.1rem
	height: 13.4rem;
	right: 9.25rem; //14.35rem
	@media screen and (max-width: 656px) { right: 7.9rem } //21.2vw
	@media screen and (max-height: 260px) {	top: 0.5rem; right: 11.8rem;}
	@media screen and (max-height: 260px) and (max-width: 656px) {right: 10.25rem;}
	.header-icon {margin-left: 1rem;}
}
.yt-tv--wrapper, .yt-artists--wrapper div, .yt-music-kids--wrapper div {
	width: 100%;
	gap: 1rem;
	align-items: center;
	height: 2.55rem;
	&:hover {background-color: #efeef1;}
}
.yt-music-kids--wrapper, .yt-music-kids--wrapper div:first-child { margin-top : 0.5rem;}
.yt-tv--wrapper { margin-top: 0.5rem; }
.yt-artists--wrapper, .yt-artists--wrapper div { margin-top: 0.5rem;}


.notif-drop-down {
	align-items: center;
	width: 30rem;
	height: 40rem;
	right: 6.2rem;
	margin-top: 0.4rem;
	@media screen and (max-width: 656px) {right: 13.2vw;}
	@media screen and (max-width: 555px) {width: 86vw;}
	@media screen and (max-height: 690px) {top : 0.5rem; right: 8.8rem;}
	@media screen and (max-height: 690px) and (max-width: 656px) {right: 7.5rem; width: 80vw}
	@media screen and (max-height: 690px) and (max-width: 595px) {right: 4.3rem; top: 2.8rem;}
}
.notif-title {
	align-items: center;
	justify-content: space-between;
	height: 2.8em;
	border-bottom: 1px #e5e5e5 solid;
	font-size: 1rem;
	span { margin-left: 1.1rem;}
}
.notif-content {
	height: 37.2rem;
	overflow-y: scroll;
}
.notif-content::-webkit-scrollbar { width: 8px;}
.notif-content::-webkit-scrollbar-thumb { background-color: #909090; display: none;}
.notif-content:hover::-webkit-scrollbar-thumb {display: block;}
.notification {
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	padding-bottom: 1rem;
}
.notif-avatar {
	height: 3rem;
	border-radius: 50px;
	margin-top: 1rem;
	margin-left: 1rem;
}
.notif-thumbnail--wrapper {
	height: 3.1rem;
	margin-right: 4.05rem;// 4.05rem
	margin-top : 0.95rem; //1.05rem
	overflow: hidden;
}
.notif-thumbnail {
	height: 133%;
	width: 86px;
	margin-top: -9.5%;
}
.notif-detail--wrapper { margin-top: 0.3rem; }
.notif-detail { height: 0; margin-left: 1.05rem;}
.notif-time {
	height: 0;
	color: #626262; 
	margin-left: 1.05rem;
	margin-top: 0.55rem;
	font-size: 0.75rem;
}
.notification:hover {
	background-color: #ccc; //is gonna change !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
	.notif-thumbnail--wrapper {margin-right: 1.1rem}
	.notif-options {
		display: block;
		margin-bottom: 0.5rem;
		margin-right: 0.65rem;
		padding: 0.4rem;
	}
	.notif-options:active {
		background-color: blue;
		border-radius: 50px;
	}
}



.profile-drop-down {
	height: 43.25rem;
	right: 2rem;
	width: 18.6rem;
	@media screen and (max-height: 740px) {top: 0.5rem; right: 5.8rem;}
}
.profile-dd-header {
	height: 5.03rem;
	border-bottom: 1px solid #ccc;
	gap: 1rem;
	img {
		height: 2.58rem;
		margin-left: 1rem;
		margin-top: 0.9rem;
		border-radius: 50px;
	}
	p {
		margin: 1rem 0 0.8rem -0.1rem;
		font-family: "Roboto";	
		font-size: 1rem; 
		font-weight: 500;
	}
	a {
		text-decoration: none;
		color: blue;
		margin-left: -0.1rem;
	}
}

.profile-dd-item {
	justify-content: space-between;
	height: 2.44rem;
	cursor: pointer;
	align-items: center;
	.nav-icon-dd {
		margin-right: 1rem;
	}
}
.profile-dd-item div:first-child{
	align-items: center;
	gap: 0.95rem;
	.main-icon--dd { margin-left: 1rem; }
}
.profile-dd-item:hover { background-color: #ccc } //is gonna change !!!!
.profile-dd-item:first-child { margin-top: 0.6rem; }

/* |---------------------------| */
/* |          Navbar           | */
/* |---------------------------| */

.navbar--container {
	width: var(--navbar-container-width);
	height: 100vh;
	overflow-y: scroll;
	background-color: white;
	position: sticky;
	top: 0;
}
.navbar--container::-webkit-scrollbar {width: 8px;}
.navbar--container::-webkit-scrollbar-thumb {background-color: #909090; border-radius: 20px; display: none;}
.navbar--container:hover::-webkit-scrollbar-thumb {display: block;}
.navbar-item {
	cursor: pointer;
	align-items: center;
	gap: 1.5rem;
	font-family	: "Roboto";
	font-size: 0.9rem;
	height: 2.5rem;
	.navbar-icon {margin-left: 1.5rem; margin-bottom: 0.1rem;}
}
.navbar-items {border-bottom: 1px solid #ccc; padding-bottom: 0.8rem}
.navbar-item:first-child {margin-top: 0.8rem;}
.navbar-items-primary .navbar-item:last-child {display: none;}
.active--navbar-item {font-weight: 500; background-color: #ccc;}
.navbar-item:hover { background-color: #ccc;}
.navbar-sub-img {height: 1.6rem; margin-left: 1.5rem; border-radius: 50px;}

.navbar-title {
	font-family: "Roboto";
	color: #606060;
	margin-left: 1.5rem;
	font-weight: 500;
	font-size: 0.9rem;
}
.navbar-info {margin-left: 1.5rem; margin-top: 1rem;}
.navbar-info a {
	text-decoration: none;
	color: #606060;
	font-family: "Roboto";
	font-size: .8rem;
	font-weight: 500;
	line-height: 1.1rem;
}
.navbar-info div div {display: flex; gap: .5rem}

.navbar-with-logo {
	background-color: white;
	position: absolute;
	z-index: 5;
	top: 0;
	.navbar-home {margin-top: 2rem}
	.logo-n-menu--navbar {
		display: flex;
		align-items: center;
		position: sticky;
		top: 0;
		background-color: white;
	}
}

@mixin navbar-small-mixin {
	width: 4.55rem;
	overflow: hidden;
	background-color: white;

	.navbar-items {display: none;}
	.navbar-info {display: none;}

	.navbar-items-primary {
		display: block;
		border: none;
		.navbar-item:last-child {display: grid;}
		.navbar-item {
			display: grid;
			grid-gap: 0;
			height: 4.55rem;
			font-size: .64rem;
			font-weight: 400;
			text-align: center;
		}
		.active--navbar-item {background-color: transparent}
		.active--navbar-item:hover { background-color: #ccc;}
		.navbar-item:first-child {margin-top: 0.3rem;}
		.navbar-icon {margin-top: .65rem; margin-bottom: -1rem;}
	}
}

@media screen and (max-width: 1330px) {.navbar--container--set-screen {@include navbar-small-mixin;}}
@media screen and (max-width: 807px) {
	.navbar--container--set-screen, .navbar-small {display: none;}
	.slide-navbar--container {margin-left: 4.5rem;}
}
.navbar-small { @include navbar-small-mixin;}
.slide-navbar--container {
	background-color: white;
	position: absolute;
	left: 0;
	top: -3.5rem;
	@media screen and (min-width: 1330px) {display: none;}
	z-index: -1;
}


//**home-content-width**//
.home-page-content {width: var(--home-content-width-small)}
.home-page-content-big { width: var(--home-content-width-big); }
@media screen and (max-width: 1330px) {.home-page-content { width: var(--home-content-width-big); }}
@media screen and (max-width: 807px) {.home-page-content, .home-page-content-big { width: calc(100vw - 1rem); }}

/* |---------------------------| */
/* |         Home Tags         | */
/* |---------------------------| */

.home-tags--container {
	border: 1px solid #ccc;
	border-left: none; border-right: none;
	height: 3.55rem;
}
.home-tags--wrapper {
	height: 100%;
	align-items: center;
	margin-left: 1rem;
	gap: .7rem;
}
.single-tag {
	font-family: "Roboto";
	font-size: .9rem;
	background-color: #f2f2f2;
	border: 1px solid #d9d9d9;
	border-radius: 25px;
	padding: .45rem .8rem;
	cursor: pointer;
	height: 1rem;
	span {white-space: nowrap;}
}
.single-tag:hover {
	animation: change-color;
	animation-duration: .5s;
	animation-fill-mode: forwards;
}

@keyframes change-color {
	from {background-color: #f2f2f2;}
	to {background-color: #e5e5e5;}
}

.tags-nav--wrapper {
	position: absolute;
	height: 3.55rem;
}
.tag-nav-icon--wrapper { align-items: center; }
.tags-nav {
	background-color: white;
	height: 1rem;
	cursor: pointer;
}
.tags-nav:active {
	background-color: #e5e5e5;
	padding: .5rem;
	border-radius: 50px;
}
.tags-nav-left:active {position: absolute; left: .5rem}
.tags-nav-right:active {position:absolute; right: .5rem;}
.tags-nav-blank {height: 100%; width: 1.5rem;}
.tags-nav--wrapper-left {
	margin-left: -1rem;
	.tag-nav-icon--wrapper {
		background-color: white; 
		height: 100%; width: 2rem;
		justify-content: flex-end;
		}
	.tags-nav-blank {background-image: linear-gradient(to right, rgba(255, 255, 2555, .97), transparent);}
}
.tags-nav--wrapper-right {
	right: 0;
	.tag-nav-icon--wrapper {background-color: white; height: 100%; width: 2rem;}
	.tags-nav-blank {background-image: linear-gradient(to left, rgba(255, 255, 2555, .97), transparent);}
}
.tags-nav-blank-transparent {
	background-color: rgba(255, 255, 255, .97);
}

/* |---------------------------| */
/* |        Home Videos        | */
/* |---------------------------| */

.videos-home {
	background-color: #f9f9f9;
	padding-top: 1.3rem;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap
}
.video-thumbnail { width: var(--home-thumbnail-img-width); cursor: pointer; }
.video-img-wrapper {
	width: inherit;
	img { width: inherit; }
	position: relative;
	height: calc(var(--home-thumbnail-img-width) / 1.7821782178217822);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.video-duration {
	position: absolute;
	font-family: "Roboto";
	bottom: .5rem;
	right: .3rem;
	color: white;
	font-size: .8rem;
	font-weight: 500;
	padding: .1rem .2rem;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, .8);
}
.channel-img--thumbnail {
	img {
		height: 2.3rem;
		border-radius: 50px;
		margin-top: .9rem;
	}
}
.video-details-text {
	margin-left: .7rem;
	font-family: "Roboto";
	width: auto;
	width: inherit;
	p {	
		width: inherit;
	}
	.video-name {
		font-weight: 500;
		font-size: 1rem;
	  text-overflow: ellipsis;
	  overflow: hidden; // This solution is not for all browsers !!!!!!!!!!!!
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
}
.channel-name, .video-details-meta {
	color: #606060;
	font-size: .9rem;
	line-height: .4rem;
	font-family: 'Roboto'
}


@media screen and (max-width: 1790px) {
	.videos-home {
		justify-content: flex-start;
		padding-left: 1.45rem;
		padding-right: 1.45rem;
	}
	.channel-img--thumbnail img { height: 2.05vw; min-height: 2rem; }
}
@media screen and (max-width: 1632px) {
	.video-details-text { font-size: .9rem; }
	.video-details-text {
		.channel-name, .video-details-meta {font-size: .8rem;}
		.video-name {font-size: .9rem;}
	}
}
@media screen and (max-width: 807px) {
	.videos-home {
		padding-left: 0;
		padding-right: 0;
		justify-content: center;
	}
}
.videos-home--small-menu { 
	@media screen and (min-width: 1330px) {.video-thumbnail {width: var(--home-thumbnail-img-width--small-menu)}
}}





/* |---------------------------| */
/* |         WatchPage         | */
/* |---------------------------| */

.watchPage-container {}

.watchPage-content--container {
	background-color: #f9f9f9;
}

.embed-video--container {
	margin-top: 1.5rem;
	margin-left: 6.2rem;
	width: var(--video-width); //80rem
	iframe { width: inherit; height: 45rem; } //is gonna change (make it more responsive)
	.video-details-meta {
		margin-top: .6rem;
	}
}

.currently-watched--video-title {
	font-family: 'Roboto';
	font-size: 1.125rem;
	font-weight: 400;
	margin-top: 1.1rem;
}

.currently-watched--icons {
	margin-top: -1rem;
	gap: 1rem;
	svg { height: 1.65rem; }
	div { align-items: center; gap: .3rem;}
	p {
		font-family: 'Roboto';
		font-weight: 500;
		font-size: .95rem;
	}
}

.currently-watched--description-area {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-family: 'Roboto'
}

.description-area--channel-data {
	margin-top: 1.6rem;
}

.channel-data--text {
	// There are only two span   tags
	span:first-child { font-weight: 500; font-size: .9rem;}
	span:last-child {color: #555; font-size: .8rem; margin-bottom: .5rem;}
}

.description-area--channel-pic {
	height: 2.8rem;
	border-radius: 50px;
	cursor: pointer;
}

.subscribe-button {
	padding: .6rem .9rem;
	background-color: #c00;
	color: white;
	font-weight: 500;
	font-size: .88rem;
	letter-spacing: .05rem;
	border-radius: 2px
}

.description-area--description {
	width: 50%;
	white-space: pre-wrap;
	font-size: .9rem;
	margin-left: 3.9rem;
}

.description-area--show-more {
	color: #666;
	font-weight: 500;
	font-size: .75rem;
	cursor: pointer;
}

.currently-watched--comments {
	font-family: 'Roboto';
	.comments--icons {
	margin-top: 1.2rem;
	}
}

.comments--icon {
	gap: .5rem;
	align-items: center;
	cursor: pointer;
	svg {height: 1.5rem;}
	span {font-weight: 500; font-size: .9rem; }
}
.sort-by--drop-down {
	margin-top: 9rem;
	width: 6.9rem;
	height: 7rem;
	div {
		&:first-child {margin-top: .5rem;}
		&:hover {background-color: rgba(0, 0, 0, 0.1)}
		width: 100%;
		height: 2.9rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		p {margin-left: 1rem;}
	}
}

.comments--user-comment {
	width: var(--video-width);
	img {height: 2.5rem; border-radius: 50px; margin-top: 1rem;}
	
	input {
		background-color: inherit;
		font-family: 'Roboto';
		border: none;
		border-bottom: 1.4px groove;
		outline: none;
		font-size: .87rem;
		&::placeholder {color: #555;}
		margin-left: .9rem;
		margin-top: 1rem;
		height: 1.4em;
		width: calc(var(--video-width) - 4rem);
		padding-bottom: .2em;
	}
	
	hr {
		height: 2px;
		border-width:0;
		color: black;
		background-color:black;
		width: 0px;
		position: absolute;
		right: 24rem;
		left: 0;
		margin-top: -.1rem;
	}
	div:focus-within {
		hr {animation: changeBorder .3s; animation-fill-mode: forwards;}
	}
	@keyframes changeBorder {
			from {width: 0;}
			to {width: calc(var(--video-width) - 3.5rem);}
	}
}

.user-comment--buttons {
	gap: .6rem;
	justify-content: flex-end;
	button {
		cursor: pointer;
		font-family: 'Roboto';
		border: none;
		outline: none;
		border-radius: 2px;
		font-size: .9rem;
		font-weight: 500;
		height: 2rem;
		margin-top: .5rem;
		$paddingRL: 1rem;
		padding-right: $paddingRL;
		padding-left: $paddingRL;
		padding-top: .55rem;
		padding-bottom: 1.6rem;
	}
	
	button:first-child {background-color: transparent; color: #606060;}
	button:first-child:active {animation: changeButtonColor .3s; animation-fill-mode: forwards;}
	
	@keyframes changeButtonColor {
		from {background-color: transparent;}
		to {background-color: rgba(0, 0, 0, 0.1);}
	}
	
	button:last-child {/*background-color: rgba(0, 0, 0, 0.5);*/ color: #909090;}
}

.comments--video-comments {
	margin-top: 2.1rem;
	grid-gap: 1rem;
}

.video-comments--single-comment {
	font-family: 'Roboto'
}

.single-comment--commenter-avatar {height: 2.5rem; border-radius: 50px;}
.comment-section--comment-details {align-items: baseline;}
.comment-details--commenter-name {
	cursor: pointer;
	margin-left: 1rem;
	font-weight: 500;
	font-size: .8rem; 
}
.comment-details--comment-date {
	cursor: pointer;
	margin-left: .3rem;
	margin-top: .05rem;
	font-size: .75rem;
	color: #555;
	&:hover {color: black;}
}
.single-comment--comment {
	margin-left: .96rem;
	margin-top: .5rem;
	font-size: .88rem;
	white-space: pre-wrap;
}
.comment--show-more {
	color: #666;
	font-weight: 500;
	font-size: .9rem;
	cursor: pointer;
	&:hover {text-decoration: underline;}
}

.single-comment--icons {
	font-family: 'Roboto';
	gap: 1rem;
	align-items: center;
	margin-left: 1rem;
	svg {height: 1rem}
	svg:active {
		padding: .5rem;
		margin: -.5rem;
		border-radius: 50px;
		background-color: #888;
	}
	p {font-size: .8rem; font-weight: 500; margin-left: .2rem; color: #666;}
	* {cursor: pointer;}
}
